html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;background-image: url(../pages/assets/3363850.jpg);
    background-position: absolute;
    background-repeat: none;
    background-size: cover;
}
.content {
  flex: 1; /* Pushes the footer down */
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.dropbtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  gap: 10px;
}
.nav-item {
  position: relative;
  display: inline-block;
  /* background-color: #fff; */
  /* min-width: 120px; */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}
#vervelogo{
  height: 20px; 
  margin-left:10px; 
  border-radius: 20px;
  width: 20px;
}
.signin, .signup {
  color: black;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  /* background: white; */
  border-radius: 8px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
  /* transition: all 0.3s ease; */
}
.signin:hover {
cursor: pointer;
transform: scale(1.1);
transition: transform 0.3s ease;
/* size: 100px; */
}
.signin, .signup a {
/* display: block; */
padding: 10px;
text-decoration: none;
/* color: #333; */
}
.dropdown:hover .dropdown-content {
  display: block;
}
.addw{
  text-decoration: none;
  color: whitesmoke;
}
.payplatlogos{
  height: 30px; 
  margin-left:10px; 
  border-radius: 20px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.card .btn:hover {
  background-color: linear-gradient(to right, #ff105f, #ffad06);
}
#main-header{
  background: linear-gradient(to right, #004d7a, #008793);
  color: white;
  padding: 50px 20px;
}
#course-content{
  background-image: url(../pages/assets/whitebg.jpeg);
  background-position: absolute;
  background-repeat: none;
  background-size: cover;
}