<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <nav id="asidebar">
      <ul>
        <li class="active">
          <a href="#">
            <span class="material-icons">
              </span>
          <span>Dashboard</span></a>
        </li>
        <li class="active">
          <a href="#"><span>Video Lesson</span></a>
        </li>
        <li class="active">
          <a href="#"><span>Assignments</span></a>
        </li>
        <li class="active">
          <a href="#"><span>Chat</span></a>
        </li>
        <li class="active">
          <a href="#"><span>Read Qur'an</span></a>
        </li>
        <li class="active">
          <a href="#"><span>Settings</span></a>
        </li>
      </ul>
    </nav>
    <main>
      <div class="container">
        <h3>Loveee</h3>
        <p>Oakyy</p>
      </div>
      <div class="container">
        <h3>Loveee</h3>
        <p>Oakyy</p>
      </div>
      <div class="container">
        <h3>Loveee</h3>
        <p>Oakyy</p>
      </div>
    </main>
  </body>
</html>
